*.tsv
illumina_fastq
ipdsummary_out
logs
multimotifmaker_out
nanopore_fastq
*.sam
pacbio_bam
pacbio_fa
pbmm2_out
slurm-*
smrtlink
smrtlink_10.1.0.119588.run
smrtlink_10.1.0.119588.run.md5
snakemake.job
test
tools
unicycler_out
unicycler_pre_out
.snakemake
